* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.video-wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.video-wrapper video {
  object-fit: contain;
  min-width: 100%;
  height: auto;
}

.left {
  width: 70%;
  min-height: 100%;
}
.transcript {
  padding: 20px 10px;
  width: 30%;
  min-height: 100%;
  /* border: 1px solid black; */
}
.transcript p{
    /* line-height: 1.2rem; */
    margin-bottom: 1.5rem;
}

.cuepoint {
  cursor: pointer;
  color: #080808;
  display: flex;
  align-items: center;
  &:hover,
  &.active {
    color: #000 !important;
  }
}

.timeline-time{
  background-color: #f3f3f3;
  color: #000;
  display:inline-flex;
  font-size: .8rem !important ;
  width: 4rem !important;
  height: max-content;
  text-align: center! important;
  align-items:center;
  justify-content: center;
  padding: 2px 5px;
  border-radius: 3px;
  margin-right: 10px;
}

.timeline-text{
  color: gray;
  &:hover,
  &.active {
    color: #000 !important;
  }
}